.removeTabButton {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.addTabContainer {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #fff;
}

.addTabButton {
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
}

.tabPanel {
  height: calc(100vh - 41.5px);
}

.tabWrapper {
  position: relative;
  margin-right: 1px;
}

.tabContent {
  height: calc(100% - 20px);
  position: relative;
}

.tabFooter {
  height: 21px;
  width: 100%;
  background-color: #3e3d32;
  display: flex;
  justify-content: flex-end;
}

.toggleDocumentType {
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  line-height: 16px;
}
