.removeTabButton {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.addTabContainer {
  position: absolute;
  top: 10px;
  left: 12px;
  color: #fff;
}

.addTabButton {
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
}

.tabPanel {
  height: calc(100vh - 35.5px);
}

.tabWrapper {
  position: relative;
  margin-right: 1px;
}

.tabWrapper:first-child {
  margin-left: 1px;
}
